In [3]:
print("Hello World!")

Hello World!

# Tipos de dados

### String

In [7]:
print('esse é um texto de aspas simples.')
print("esse é um texto de aspas duplas.")
print(''' esse é um texto de aspas tripas simples. ''')
print(""" esse é um texto de aspas triplas duplas. """)

esse é um texto de aspas simples.
esse é um texto de aspas duplas.
 esse é um texto de aspas tripas simples.
 esse é um texto de aspas triplas duplas.

### CASOS ESPECIAIS DAS STRINGS

ESCAPE CHARACTER

In [13]:
print("\"don't look at me")

"don't look at me

In [33]:
print("Olá mundo, \n meu nome é Pablo")

Olá mundo,
 meu nome é Pablo

In [ ]:
dados = input("digite seu nome e idade: ").split()
print(f"olá {dados[0]}.\nSua idade é: {dados[1]}")

### SPLIT

In [ ]:
"nome, idade, cpf, email".split(",")

### Manipulando strings/texto

In [27]:
estados = """
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [31]:
estados.split("\n")

['',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

### LISTAS MUTÁVEIS

In [41]:
frutas = ["tomate", "maçã", "morango", "banana", "pera", "pessego"] 
print(frutas)

['tomate', 'maçã', 'morango', 'banana', 'pera', 'pessego']

In [12]:
nome, sobrenome = input("digite seu nome e sobrenome: ").split()
print(f"a inicial do seu nome é:{nome[0]}, do seu sobrenome: {sobrenome[0]}")

digite seu nome e sobrenome: Pablo Fernandes
a inicial do seu nome é:P, do seu sobrenome: F

### outros tipos de string/texto

In [13]:
r'raw string' # texto seco, cru, literal
b' encoded text' #

b' encoded text'

## FUNÇÕES

### Criando funções próprias

* Função dummy

In [17]:
# criação de função 

def func2(parametro1, parametro2):
    return parametro1 + parametro2

valor = func2("ola", "talvez ")
print

'olatalvez '